target/classes/SFDCaccount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">

    <apikit:config name="SFDCaccount-config" api="SFDCaccount.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="SFDCaccount-main">
        <http:listener config-ref="DBaccount_papi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="SFDCaccount-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="SFDCaccount-console">
        <http:listener config-ref="DBaccount_papi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="SFDCaccount-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\createcomposite:application\json:SFDCaccount-config">

        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Account updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\createcomposite:SFDCaccount-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    isTest: true,
    isApiDeveloper: true,
    gateway: "AriaSandbox",
    accountName: "Mulesoft123",
    accountNumber: "API-31512",
    billToContact: {
      address: {
        city: "CA",
        country: "US",
        countryCode: "US",
        line1: "4115 Broad St",
        line2: "San Luis Obispo",
        state: "CA",
        stateCode: "CA",
        zipCode: "93401"
      },
      email: "TeamPublicAPI45@test.com",
      phone: "1336867145",
      name: {
        firstName: "Mule",
        lastName: "Soft"
      }
    },
    currencyCode: "USD",
    isAutoPayEnabled: true,
    paymentMethod: {
      cardNumber: "4012001011000771",
      creditCardType: "Visa",
      cardExpirationMonth: "02",
      cardExpirationYear: "2025",
      securityCode: "837",
      cardHolderInfo: {
        address: {
          city: "CA",
          country: "US",
          countryCode: "US",
          line1: "4115 Broad St",
          line2: "San Luis Obispo",
          state: "CA",
          stateCode: "CA",
          zipCode: "93401"
        },
        name: "mulesoft123",
        email: "mulesoft123@test.com",
        firstName: "Mule",
        middleInitial: "K",
        lastName: "Soft",
        isUseSplittedNames: true,
        phoneNumber: "9878934145"
      },
      isDefault: true
    }
  }, 
  {
    isTest: true,
    isApiDeveloper: true,
    gateway: "AriaSandbox",
    accountName: "Mulesoft1234",
    accountNumber: "API-315121",
    billToContact: {
      address: {
        city: "CA",
        country: "US",
        countryCode: "US",
        line1: "4115 Broad St",
        line2: "San Luis Obispo",
        state: "CA",
        stateCode: "CA",
        zipCode: "93401"
      },
      email: "TeamPublicAPI45@test.com",
      phone: "1336867145",
      name: {
        firstName: "Mule",
        lastName: "Soft"
      }
    },
    currencyCode: "USD",
    isAutoPayEnabled: true,
    paymentMethod: {
      cardNumber: "4012001011000771",
      creditCardType: "Visa",
      cardExpirationMonth: "02",
      cardExpirationYear: "2025",
      securityCode: "837",
      cardHolderInfo: {
        address: {
          city: "CA",
          country: "US",
          countryCode: "US",
          line1: "4115 Broad St",
          line2: "San Luis Obispo",
          state: "CA",
          stateCode: "CA",
          zipCode: "93401"
        },
        name: "mulesoft123",
        email: "mulesoft123@test.com",
        firstName: "Mule",
        middleInitial: "K",
        lastName: "Soft",
        isUseSplittedNames: true,
        phoneNumber: "9878934145"
      },
      isDefault: true
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\createcomposite:application\json:SFDCaccount-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "SFDC account created"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <flow-ref doc:name="Flow Reference" doc:id="1ed17a3b-0e04-478d-ac6c-696b2fd04003" name="patch-implementationFlow" />
    </flow>
    <flow name="get:\createcomposite:SFDCaccount-config">
		<flow-ref doc:name="Flow Reference" doc:id="cdfef319-0c54-449d-af10-edb3a280245b" name="Get-implementationFlow"/>
    </flow>
    <flow name="post:\createcomposite:application\json:SFDCaccount-config">
		<flow-ref doc:name="Flow Reference" doc:id="44365f24-84e4-48ca-8145-107094724153" name="Post-implementationFlow"/>

    </flow>
</mule>
